<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="../../public/Css/login.css" rel="stylesheet" type="text/css"/>
    <!--<link href="../../public/Css/regis.css" rel="stylesheet" type="text/css"/>-->
</head>
<body>
<div class="whole">
    <div class="header">
        <a href="index.html"><div class="lg"></div></a>
    </div>
    <!--<form method="post" action="../Controller/login.php" onsubmit=" return valite()">-->
    <div class="body" style="margin: 49px auto">
        <div  class="left">
            <!--<div style="height: 80px;">-->
            <!--<span style="font-size: 28px;color: #484646">登 录</span>-->
            <!--</div>-->
            <div class="div2">
                <input type="text" id="name" name="username" placeholder="请输入姓名" class="login_user"  onfocus="shuaxin()"><br>
                <p id="error1"></p>
            </div>
            <div class="div2">
                <input type="password" id="password" name="password" placeholder="请输入密码" class="login_passw"  onfocus="shuaxin()">
                <p id="error2"></p>
            </div>
            <div class="div2">
                <input type="password" id="password2" name="password2" placeholder="确认密码" class="login_user"  onfocus="shuaxin()">
                <p id="error3"></p>
            </div>
            <div class="div2">
                <input type="text" id="phone" name="phone" placeholder="请输入手机号" class="login_user" onfocus="shuaxin()">
                <p id="error5"></p>
            </div>
            <div class="div2">
                <input type="text" id="email" name="email" placeholder="请输入邮箱" class="login_user" onfocus="shuaxin()">
                <p id="error6"></p>
            </div>
            <div class="div2">
                <p id="error4"></p>
                <input type="submit" value="注册" onclick="valite()" class="login_login">
            </div>
        </div>
        <div class="middle" style="height: 364px;">
        </div>
        <div class="right" style="margin-top: 100px;">
            <span style="color: black; margin-top: 44px;display: block;">已有账号:</span><br>
            <a href="login.html" style="color: #00b38a;">去登录</a>
        </div>
        <div style="clear: both">
        </div>
    </div>
    <!--</form>-->
</div>
<script src="../../public/Js/jquery-2.2.1.min.js"></script>
<script>
    function shuaxin(){
        document.getElementById("error1").innerHTML ="";
        document.getElementById("error2").innerHTML ="";
        document.getElementById("error3").innerHTML ="";
        document.getElementById("error4").innerHTML ="";
        document.getElementById("error5").innerHTML ="";
        document.getElementById("error6").innerHTML ="";
    }
    function valite(){
        var username=document.getElementById("name").value;
        var password=document.getElementById("password").value;
        var password2=document.getElementById("password2").value;

        // if(username=="")
        // {
        //     document.getElementById("error1").innerHTML ="用户名不能为空";
        //     // return false;
        // }
        if(username.length<4||username.length>10)
        {
            document.getElementById("error1").innerHTML ="用户名长度4-20个字符";
            return false;
        }
        // if(password=="")
        // {
        //     document.getElementById("error2").innerHTML ="密码不能为空";
        //     // return false;
        // }
        if(password.length<4||password.length>10)
        {
            document.getElementById("error2").innerHTML ="密码长度4-20个字符";
            return false;
        }
        if(password!=password2)
        {
            document.getElementById("error3").innerHTML ="两次密码不一致";
            return false;
        }
        var re_phone= /^1\d{10}$/;
        var str_phone=document.getElementById("phone").value;
        if(!re_phone.test(str_phone))
        {
            document.getElementById("error5").innerHTML ="请输入正确的手机号";
            return false;
        }
        var re_email=  /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
        var str_email=document.getElementById("email").value;
        if(!re_email.test(str_email))
        {
            document.getElementById("error6").innerHTML ="请输入正确的邮箱";
            return false;
        }

        $.ajax({
            url:"../Controller/zhuce.php",//跳转的页面
            method:"post",
            data:{username:username,password:password,password2:password2,phone:str_phone,email:str_email},//向后台穿的数据
            success:function(data){//后台returnd的值
                var jsondata = JSON.parse(data);
                if (!jsondata.success) {
                    alert(jsondata.message);
                    return false;
                }
                // alert('1');
                window.location.href="index.html";
            }
        })
    }
</script>
</body>
</html>
