.whole{
    width:100%;
    /*height:1000px;*/
}
.header{
    position: relative;
    top: 0;
    padding-top: 10px;
    /*padding-left: 60px;*/
    width: 100%;
    background-color: #ffffff;
    height: 50px;
    /*font-size: 0;*/
    /*float:left;*/
}
.img{
    width: 20%;
    float: left;
    margin-left: 20px;
}
.top{
    width: 100%;
    height:300px;
    background-color: #00b38a;
}
.mess{
    width: 50%;
    /*height:80px;*/
    background-color: #00b38a;
    margin:0 auto;
    padding:50px;
}
.body{
    margin-top: 20px;
    background-color: white;
}
.body ul li a{
    width: 100%;
    height:50px;
    text-decoration: none;
    color: black;
    /*margin-left: 4%;*/
    display: block;
}
.body ul{
    padding:0;
}
.body ul li{
    text-decoration: none;
    list-style-type: none;
    font-size: 28px;
    width:100%;
    height:50px;
    border-bottom: 1px solid gray;
    margin-bottom: 3px;
    /*vertical-align:middle;*/
    /*padding-top: 5px;*/
}
span{
    /*float: left;*/
    /*margin-left: 10px;*/
}

.divimg{
    float: left;
    margin-left:5%;
    margin-bottom: 0;
    margin-top: 5px;
    /*padding-top: 10px;*/
    padding-right: 20px;
}
.divimg1{
    float: right;
    margin-right:5%;
    margin-bottom: 0;
    margin-top: 5px;
}
a{
    color: black;
}