
.bottom{
    width: 50%;
    margin-left: 200px;
}
.bottom ul {
    position: fixed;
    bottom: 0;
    width: 500px;
    height:50px;
    vertical-align: center;
    /*margin-left: 200px;*/
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    list-style-type: none;
}
.bottom ul li{
    float: left;
    margin-right:100px;
    margin-top:12px;
}
.bottom ul li a {
    text-decoration: none;
    color: black;
}