
.bottom{
    /*position: relative;*/
    /*top: 0;*/
    /*padding: 10px 60px;*/
    width:70%;
    height:50px;
  float: left;
}
.bottom ul {
    width: 1000px;
    height: 50px;
    top: 0;
    /*border: 1px solid #e7e7e7;*/
    list-style-type: none;
    margin: 0;
}
.bottom ul li{
    float: left;
    width:25%;
    text-align: center;
    /*margin-right: 23%;*/
    margin-top: 12px;
}
.bottom ul li a {
    text-decoration: none;
    color: black;
}